{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div style="padding: 10px;">

    {% if user.is_authenticated %}
    {% if user_profile %}
    <div id="profile-view" data-user_profile="{{user_profile.id}}">
        <h1>Profile</h1>
        <div class="row align-items-start px-4 gy-3">
            <div class="col-auto text-start">
                <img src="{% static 'network/default-profile-account.jpg' %}" class="img-fluid rounded-circle border"
                    style="width: 150px; height: 150px; object-fit: cover;">
                <h6 class="mt-2">{{ user_profile.username }}</h6>
            </div>

            <div class="col-auto text-start">
                <h4>Followers</h4>
                <p id="follower_count" class="mb-0">{{ user_profile.followers.count }}</p>
            </div>

            <div class="col-auto text-start">
                <h4>Following</h4>
                <p id="following_count" class="mb-0">{{ user_profile.following.count }}</p>
            </div>
            {% if not user_profile == request.user %}
            <button type="button"
                class="btn {% if not followed %} btn-primary {% else %} btn-outline-primary {% endif %} follow-btn">
                {% if followed %}
                Unfollow
                {% else %}
                Follow
                {% endif %}
            </button>
            {% endif %}

        </div>

    </div>
    {% elif request.resolver_match.url_name == 'follow' %}
    <div id="following-view">
        <h1>Following</h1>

    </div>
    {% else %}
    <div id="index-view">
        <h1>All Posts</h1>
        <div class="card mb-2">
            <div class="card-header">
                <strong>New Post</strong>
            </div>
            <form class="card-body" action="{% url 'index' %}" method="post">
                {% csrf_token %}
                <textarea name="content" class="form-control" placeholder="Share your thoughts." id="post-content"
                    style="height: 100px" autofocus></textarea>
                <button type="submit" id="post-submit" class="btn btn-primary btn-sm mt-2">Post</button>
                {% if error %}
                <p id="error" style="color: red;">{{error}}</p>
                {% elif sucess %}
                <p id="success" style="color: green;">{{success}}</p>
                {% endif %}
            </form>
        </div>
    </div>
    {% endif %}

    <div class="column" style="padding: 20px; gap: 20px; display: flex; flex-direction: column;">

        <div id="all_post">
            {% for post in posts %}
            <div class="card" data-post_id="{{post.id}}">
                <div class="card-header" style="background-color: white;">
                    <a href="{% url 'profile' post.user %}">
                        <h4>{{post.user}}</h4>
                    </a>
                </div>
                <div class="card-body" data-content="{{post.content}}">
                    <p class="card-text content">{{post.content}}</p>
                    <p class="card-text timestamp">{{post.timestamp}}</p>

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        viewBox="0 0 16 16">
                        <path {% if post.is_liked %} class="unlike" {% else %} class="like" {% endif %}
                            fill-rule="evenodd"
                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                    </svg>

                    <p class="like_count" style="display: inline;">{{post.likes.count}}</p>
                    {% if post.user == request.user %}
                    <button type="button" class="btn btn-link p-0 align-baseline edit">Edit</button>
                    {% endif %}
                </div>
            </div>
            {% empty %}
            <p>No Posts Found.</p>
            {% endfor %}
        </div>

    </div>

    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% else %}
    Please <a href="{% url 'login' %}">Login</a> first.
    {% endif %}

</div>

{% endblock %}
{% block script %}
<script src="{% static 'network/index.js' %}"></script>
{% endblock %}